# Base URL for the external API backend
VITE_API_BASE_URL=http://localhost:5000/api

# Optional Sentry DSN for Production Error Tracking
# Example: https://examplePublicKey@o0.ingest.sentry.io/0
VITE_SENTRY_DSN=

# App Environment Mode (development | staging | production)
MODE=development

# Node Execution Environment (development | test | production)
NODE_ENV=development