.course-content {
    flex: 1;
    padding: 2rem 3rem;
    overflow-y: auto;
    background: radial-gradient(#280a48, #20043d);
    color: white;
}

.course-content__header {
    display: flex;
    justify-content: space-between;
    width:100%;
    color: #a18aba;
    border-bottom: 1px solid #2f1d43;
    padding-bottom: 1rem;
}

.course-content__header p {
    color: greenyellow;
}

.course-content section {
    margin: 3rem 0 2rem;
}


.course-content__container h3 {
    color: greenyellow;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.course-content__container h3.bold {
    text-align: center;
    color: greenyellow;
}

.course-content__container h4 {
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 1.3rem;
}

.course-content__container h5 {
    color: greenyellow;
    margin-top: 0.5rem;
}

.course-content__container p {
    margin-top: 1rem;
    line-height: 1.8;
}

.course-content__container .definition {
    background: #8964b0;
    padding: 0.5rem;
    border-left: 3px solid #adff2f;
}

.course-content__container .lists li {
    font-size: 0.85rem;
    padding: 0.2rem 0;
    margin-left: 1rem;
}

.course-content__container ul {
    margin-top: 1rem;
}

.course-content__container ul li {
    padding: 0.5rem 0;
    margin-left: 1.5rem;
    list-style-type: circle;
}

.course-content__container ul ul li {
    list-style-type: square;
}

.course-content__container ol {
    margin-top: 1rem;
}

.course-content__container ol li {
    padding: 0.5rem 0;
    margin-left: 1.5rem;
}

blockquote {
    font-style: italic; 
    border-left: 3px solid greenyellow; 
    padding: 0.5rem; 
    margin-left: 0;
    background: #8964b0;
}

.course-content hr {
    margin: 1.5rem 0;
}

.visit_link {
    color: rgb(66, 66, 255);
    font-style: italic;
    font-size: 13px;
}

.visit_link:hover {
    text-decoration: underline;
}

.code {
    background: #140524;
    padding: 0.2rem 0.5rem;
    margin: 1.5rem 0;
    border-radius: 0.2rem;
    /* font-size: 1rem; */
}

pre {
    /* background: #140524; */
    /* padding: 1rem; */
    border-left: 3px solid greenyellow;
    /* margin-top: 0.5rem; */
    overflow-x: auto;
    /* font-size: 1.2rem; */
    /* white-space: pre; */
}

.course-content pre[class*="language-"] {
    background: rgb(20, 5, 36);
    font-size: 1rem;
}

.course-content .token {
    font-size: 1rem;
}

.course-content .token.tag { color: #5280ff; padding: 0; }
.course-content .token.comment{ color: #007000; }
.course-content .token.attr-name { color: #82cbfc; }
.course-content .token.attr-value,
.course-content .token.url { color: #e2694b; }
.course-content .token.punctuation { color: #8c94a1;}
.course-content .token.selector { color: #ddce46; }
.course-content .token.property { color: #82cbfc; }
.course-content .token.function { color: #f8b4a7; }

/*.course-content .token.prolog,
.course-content .token.doctype,
.course-content .token.cdata { color: #6b7280; }

.course-content .token.string { color: #34d399; }
.course-content .token.keyword { color: #f97316; }

.course-content .token.class-name { color: #c4b5fd; }

 Optional: adjust background of code blocks generated by Prism 
.course-content .token.operator,
.course-content .token.entity { color: #fef3c7; }
*/



table {
      border-collapse: collapse;
      width: 100%;
      margin: 1rem 0;
      font-size: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #140524;
}




















@media screen and (max-width: 1024px) {
    .course-content {
        padding-inline: 2rem;
    }
}















@media screen and (max-width: 600px) {
    
    .course-content {
        padding-inline: 1.5rem;
    }








    .course-content__header{
        flex-direction: column-reverse;
        gap: 0.7rem;
        align-items: start;
    }

    .course-content pre[class*="language-"] {
        font-size: 0.89rem;
    }


    table {
      font-size: 0.8rem;
    }

    
}