.dashboard-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.content__greetings {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.greetings__profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.greetings__profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.greetings__text h2 {
    margin-bottom: 0;
}


.dashboard__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.stats__box {
    /* background: rgba(32, 4, 61, 0.2); */
    background: radial-gradient(#280a48, #20043d);
    border-radius: 1.2rem;
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1.3rem 2rem -1.5rem rgba(0,0,0,0.4);
    transition: all 400ms ease;
}

.stats__box:hover {
    box-shadow: 0 1.3rem 2rem -1.5rem rgba(0,0,0,0);
}

.stats__box p {
    color: greenyellow;
    font-weight: 600;
}

.stats__box h1 {
    color: #fff;
    font-size: 1.5rem;
    margin: 0.5rem 0
}

.stats__box small {
    color: #fff;
    opacity:0.75;
}

.stats__box span {
    background: #f1be16;
    color: #fff;
    height: fit-content;
    display: flex;
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.stats__box:nth-child(2) span {
    background: rgb(20, 186, 228);
}
.stats__box:nth-child(3) span {
    background: rgb(233, 44, 19);
}
.stats__box:last-child span {
    background: rgb(21, 223, 82);
}




.dashboard__courses {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dashboard__learning-path {
    display: flex;
    gap: 0.3rem;
    color: rgb(48, 7, 92);
}

.dashboard__learning-path span{
    display: flex;
    align-items: center;
    color: #7925d3;
}

.dashboard__courses-box {
    background:radial-gradient(#280a48, #20043d);
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    gap: 1.5rem;
    color:rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
}

.Intermediate, .Advanced {
    cursor: not-allowed;
}

.dashboard__courses-left {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 50, 24);
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.3);
    
}

.dashboard__courses-left span {
    background:radial-gradient(#280a48, #20043d);
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.Beginner .dashboard__courses-left {
    background: conic-gradient(
        rgb(255, 50, 24) 0deg,
        rgb(255, 50, 24) 214deg,
        rgba(255, 255, 255, 0.3) 214deg,
        rgba(255, 255, 255, 0.3) 360deg
    );
}

.Intermediate .dashboard__courses-left {
    color: rgb(255, 201, 24);
}

.Advanced  .dashboard__courses-left {
    color: rgb(24, 209, 255);
}

/* .dashboard__courses-left::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(
        rgb(255, 50, 24) 0deg,
        rgb(255, 50, 24) 120deg,
        rgba(255, 255, 255, 0.2) 120deg,
        rgba(255, 255, 255, 0.2) 360deg
    );
    z-index: -1;
} */

/* .Intermediate .dashboard__courses-left {
    background: conic-gradient(
        rgb(255, 201, 24) 0deg,
        rgb(255, 201, 24) 120deg,
        rgba(255, 255, 255, 0.2) 120deg,
        rgba(255, 255, 255, 0.2) 360deg
    );
    box-shadow: inset 0 0 0 5px #1a0a2e;
}

.Advanced .dashboard__courses-left {
    background: conic-gradient(
        rgb(24, 209, 255) 0deg,
        rgb(24, 209, 255) 120deg,
        rgba(255, 255, 255, 0.2) 120deg,
        rgba(255, 255, 255, 0.2) 360deg
    );
    box-shadow: inset 0 0 0 5px #1a0a2e;
} */

.dashboard__courses-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard__courses-right div:first-child {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.55rem;
}

.dashboard__courses-right p:first-child {
    background: rgba(121, 37, 211, 0.25);
    color: #fff;
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.dashboard__lock {
    color: rgb(165, 165, 165);
    display: flex;
    align-items: center;

}

.dashboard__courses-right h3 {
    color: #fff;
}

h3.dashboard__courses-title {
    color:rgba(255, 255, 255, 0.6)
}

.dashboard__back-icon {
    position: absolute;
    color:#fff;
    opacity: 0.1;
    /* transform: rotate(45deg); */
    right: -2.5rem;
    top: -2.5rem;
    

}

.dashboard__courses-right div:last-child {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__courses-right a {
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.dashboard__courses-right a span {
    display: flex;
    align-items: center;
}










/* ------------------------------------------ TABLET MEDIA QUERY ------------------------------------------ */


@media screen and (max-width: 1024px) {
    .dashboard-content {
        padding: 1.5rem;
    }

    .greetings__profile-image {
        width: 3rem;
        height: 3rem;
    }

    .greetings__text h2 {
        font-size: 1.3rem;
    }

    .content__greetings {
        gap: 0.7rem;
    }
}





















/* ------------------------------------------ MOBILE MEDIA QUERY ------------------------------------------ */

@media screen and (max-width: 600px) {
    .dashboard-content {
        padding-inline: 1rem;
    }

    .greetings__text h2 {
        font-size: 1.2rem;
    }

    .dashboard__stats {
        
        gap: 1.5rem;
    }



    .dashboard__courses-box {
        flex-direction: column;
    }
}