.leaderboard__container {
  width: 100%;
  background: rgba(32, 4, 61, 0.2);
  color: white;
  padding: 2rem;
  overflow: auto;
}

.top__leaders {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(121, 37, 211, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 50rem;
  margin-inline: auto;
  height: fit-content;
  color: #1e293b;
}

.top__leaders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.top__leaders-header h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  margin: 0;
}

.top__leaders-header span {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #fbbf24; */
  background: rgba(121, 37, 211, 0.3);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.7rem;
}

.top__leaders-list {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.top__leaders-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background: rgb(32, 4, 61);
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem ;
  text-align: center;
  max-width: 20rem;
  flex: 1 1 0;
  border-radius: 1rem 1rem 0 0;
}

.top__leaders-item:first-child {
  position: relative;
  bottom: 1rem;
}

.top__leaders-item:nth-child(2) {
  order: -1;
}

.top__leaders-rank {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(209, 211, 211);
  display: flex;
  margin-bottom: 1rem;
}

.top__leaders-item:first-child .top__leaders-rank {
  color: gold;
}

.top__leaders-item:last-child .top__leaders-rank {
  color: rgb(187, 56, 56);
}

.top__leaders-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.top__leaders-info small {
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

.top__leaders-info small span{
  font-weight: 700;
  font-size: 1.3rem;
  color: greenyellow
}














@media screen and (max-width: 600px) {
    .leaderboard__container {
        padding: 1rem;
    }

    .top__leaders {
        width: 100%;
        padding: 1rem;
    }

    .top__leaders-list {
        flex-direction: column;
        margin-top: 1.8rem;
    }

    .top__leaders-item {
        flex-direction: row;
        border-radius: 1rem;
        box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0);
        padding: 1rem;
        gap: 0.7rem;
    }

    .top__leaders-item:first-child {
        position: unset;
    }

    .top__leaders-item:nth-child(2) {
        order: 0;
    }

    .top__leaders-rank {
        margin-bottom: unset;
    }

    .top__leaders-info {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%
    }

    .top__leaders-info small{
        margin-top: unset;
    }
}