
.not-found {
    width: 100%;
    font-size: 0.875rem; 
    text-align: center;
    color: #7925d3; 
}

.not-found-body {
    margin-top: 4.5rem;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 2rem;
    height: calc(100dvh - 4.5rem);
}

.not-found-image {
    animation: pulsy 2.2s ease-in-out infinite;
    will-change: transform;
}

.link-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.link-container span {
    font-size: 1.5rem;
    color: black;
}

.not-found-link {
    width: fit-content; 
    font-size: 1rem; 
    font-weight: 600;
    text-decoration: none;
}

.not-found-link:hover {
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
    .not-found-body {
        padding: 0 2rem;
    }
}