.watch {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 1.5rem auto;
}

.watch .video-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.watch .video-responsive iframe, .watch .video-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
}